.label, .button, .text-field{
	-fx-font-family:"Calibri",'serif';
	-fx-font-size:18px;
}
.text-input, .text-input:focused{
	-fx-prompt-text-fill:darkgray;
}
.text-input:focused{
	-fx-focus-color:#00000055;
	-fx-faint-focus-color:transparent;
}
.button{
	-fx-background-color:transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color:transparent;
	-fx-inner-border:transparent;
	
	-fx-background-color:#006600CC;
	-fx-text-fill: #ffffff;
}
.button:hover{
	-fx-opacity:0.9;
	-fx-cursor:hand;
}


.background{
	-fx-background-color:#ffffff;
}
.errorMessage{
	-fx-text-fill:#DD2020;
}
.menuContainer{
	-fx-background-color:#006600CC;
	-fx-border-color:#ffffff;
	-fx-border-width:0 0 1 0;
	-fx-padding:2;
}
.menuContainer .label{
	-fx-text-fill:#ffffff;
}
#roleDescriptor{
	-fx-padding:5 9 5 9;
}
#roleDescriptor .label{
	-fx-font-size:14px;
}
.menuItem{
	-fx-padding:5 8 5 8;
	-fx-margin:0 4 0 4;
	-fx-border-color:#ffffff;
	-fx-border-width:0 1 0 0;
}
.menuItem.last{
	-fx-border-width:0;
}
.menuItem:hover{
	-fx-cursor:hand;
	-fx-background-color:#ffffff10;
}